################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back-end/ProcessorAPI/.vs/ProcessorAPI/CopilotIndices/*