# Build results
**/[Dd]ebug/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/

# Visual Studio
.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Node.js (for React frontend)
node_modules/

# React build
build/
dist/
